/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&family=Roboto&display=swap');

/* change font; 
center the nav vertically; 
move the hr closer to the titles; 
align the 3 articles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,'Courier New', Courier, monospace ;
}

a {
    color: black;
    text-decoration: none;
}

header {
    height: 80%;
}

#topheader {
    background-color: white;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 10%;
}

#logo {
    height: 70%;
    align-self: center;
    margin-left: 50px; 
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1em;
}

#navbar ul li{
    margin-right: 60px;
    /* center each item on the vertical axis + lighter font  */
}


#bottomheader {
    background-image: url("./../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#bottomheader h1 {
    font-size: 2.5rem;
}

#bottomheader p {
    font-size: 1.8rem;
    text-align: center;
}


#centralsection h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

section hr {
    color: #00B172;
    width: 280px;
    border: 2px solid #00B172;
    border-radius: 20px;
}

#articlescontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 50px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.article h3 {
    color: #00B172;
    font-weight: bold;
    font-size: 1.5rem;
}

.article img {
    width: 60px;
    height: 60px;
    align-self: center;
}

footer {
    background-color: #00B172;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 20px;
}

#footerleftpart {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
}

#footerleftpart h2 {
    font-size: 2em;
    text-align: center;
}

#footerleftpart hr {
    color: white;
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
}

#insideleftpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#spotifywhiteimg {
    width: 100px;
    height: 100px;
}

#footerrightpart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerrightpart img {
    padding: 10px;
    width: 50%;
    height: 50%;
}

.footerarticles {
    width: 70%;;
}

.footerarticles h4{
    font-size: 1.5em;
}

